<!DOCTYPE html>
<html data-theme="dark">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{{ asset('prism.js/prism.css') }}">
    {% endblock %}
    <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
    
</head>

<body>
    <main class="container language-js">
        {% block body %}{% endblock %}
    </main>
    {% block javascripts %}
    
    <script src="{{ asset('prism.js/prism.js') }}"></script>
    {% endblock %}
</body>

</html>